:root {
  /* Farben – Hintergründe & Oberflächen */

  --color-background-base: #000011;
  --color-background-surface: #111122;
  --color-background-raised: #171727;
  --color-background-elevated: #222233;

  /* Farben – Ränder */
  --color-border-default: #222233;
  --color-border-focus: #bbbbcc;

  /* Farben – Text */

  --color-text: #cde;
  --color-text-muted: #567;
  --color-text-accent: #889;
  --color-text-accent-transparent: #8893;

  /* Hiren's – Orange */
  --color-hirens: #f80;
  --color-hirens-transparent: #f803;

  /* MediCat – Lila */
  --color-medicat: #a0f;
  --color-medicat-transparent: #a0f3;

  /* Standalone – Blau */
  --color-standalone: #09f;
  --color-standalone-transparent: #09f3;

  /* Sichtbar – Grün */
  --color-categories: #0c5;
  --color-categories-transparent: #0c53;

  --font-size-small: 0.8rem;
  --font-size-big: 1.2rem;
  --font-size-biggest: 2rem;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  background-color: var(--color-background-base);
  color: var(--color-text);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tab > * {
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation__btn {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: var(--color-text-muted);
  height: 40px;
}

.navigation__btn:hover {
  color: var(--color-border-focus);
}

.navigation__btn.navigation__btn--aktiv {
  color: var(--color-text-accent);
  border-color: var(--color-text-accent);
}

p {
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
}

.legende {
  display: flex;
  gap: 20px;
}

.dot {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.dot::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.dot--hiren::before {
  background: var(--color-hirens);
}
.dot--medicat::before {
  background: var(--color-medicat);
}
.dot--standalone::before {
  background: var(--color-standalone);
}
.dot--fehlend::before {
  background: var(--color-text-muted);
}

.filter,
.filter__suchgruppe,
.filter__optionen,
.filter__ansicht {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter__btn,
.filter__suche {
  background: var(--color-background-surface);
  border: var(--color-border-default) 1px solid;
  color: var(--color-text-muted);
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
  border-radius: 2px;
}

.filter__btn:hover {
  color: var(--color-text);
  border: var(--color-border-focus) 1px solid;
}

.filter__btn--hiren:hover {
  color: var(--color-text);
  background-color: var(--color-hirens-transparent);
  border-color: var(--color-hirens);
}
.filter__btn--medicat:hover {
  color: var(--color-text);
  background-color: var(--color-medicat-transparent);
  border-color: var(--color-medicat);
}
.filter__btn--standalone:hover {
  color: var(--color-text);
  background-color: var(--color-standalone-transparent);
  border-color: var(--color-standalone);
}

.filter__ansicht {
  margin-left: auto;
}

.statistik {
  display: flex;
}

.statistik__item {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.statistik__wert {
  font-weight: bold;
  font-size: var(--font-size-biggest);
}

.statistik__wert--alle {
  color: var(--color-text);
}
.statistik__wert--hirens {
  color: var(--color-hirens);
}
.statistik__wert--medicat {
  color: var(--color-medicat);
}
.statistik__wert--standalone {
  color: var(--color-standalone);
}
.statistik__wert--sichtbar {
  color: var(--color-categories);
}

.statistik__label {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}

.schnellzugriff__titel {
  font-size: var(--font-size-big);
  color: var(--color-text-accent);
}

/**/
.card {
  background: var(--color-background-surface);
  padding: 1rem;
}

.card--erweitert {
  background: var(--color-background-raised);
  
}

.kategorie-kasten {
  border: 1px solid var(--color-border-default);
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.kategorie-kasten__header {
  background: var(--color-background-raised);
  padding: 0.75rem 1rem;
  font-weight: 500;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-border-default);
   cursor: pointer;
}

.kategorie-kasten__header:hover {
  background: var(--color-background-elevated);
}

.kategorie-kasten__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
  padding: 2px;
  background: var(--color-background-elevated);
}

.kategorie-kasten__header {
  display: flex;
  justify-content: space-between;
}

.kategorie-kasten__info{
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
}

.kategorie-kasten__aktionen {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kategorie-kasten__footer {
  background: var(--color-background-raised);
  border-top: 1px solid var(--color-border);
  padding: 0.5rem 1rem;
}

.card__punkte {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}

.punkt {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.punkt--hirens     { background: var(--color-hirens); }
.punkt--medicat    { background: var(--color-medicat); }
.punkt--standalone { background: var(--color-standalone); }
.punkt--leer       { background: var(--color-text-muted); opacity: 0.2; }


.schnellzugriff-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 8px;
}

.schnellzugriff-grid .card {
  padding: 0.5rem 0.75rem;
  border-color: var(--color-border-default);
  border-style: solid;
  border-width: 1px;
  height: 5vw;
  min-height: 30px;
  max-height: 50px;
}
.schnellzugriff-grid .card__name {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-text);
  margin: 0 0 2px;
}

.schnellzugriff-grid .card__desc {
  font-size: 0.7rem;
  margin: 0 0 2px;
}
.schnellzugriff-grid .card__punkte {
  margin-top: 0 0 2px;
}


.schnellzugriff-grid .card:hover {
  border-color: var(--color-border-focus);
}



.versteckt {
  display: none;
}



.filter__btn--aktiv.filter__btn--hiren {
  background-color: var(--color-hirens-transparent);
  border-color: var(--color-hirens);
  color: var(--color-text);
}

.filter__btn--aktiv.filter__btn--medicat {
  background-color: var(--color-medicat-transparent);
  border-color: var(--color-medicat);
  color: var(--color-text);
}

.filter__btn--aktiv.filter__btn--standalone {
  background-color: var(--color-standalone-transparent);
  border-color: var(--color-standalone);
  color: var(--color-text);
}

.filter__btn--aktiv.filter__btn--alle {
  color: var(--color-text);
  border-color: var(--color-border-focus);
}

/**/

.tab {
  display: none;
}

.tab--aktiv {
  display: block;
}
